* {outline:none}

html {min-width:1600px; height:100%}

body {min-width:1600px; height:100%; margin:0; padding:0; font:300 19px/27px Roboto, sans-serif; color:#000; background:#fff; -webkit-text-size-adjust:100%}

a {color:#666}

img {border:none; max-width:100%}

::-ms-clear {display:none}

.container {padding:0 80px}
.container:after {content:""; display:block; clear:both; height:0}

.wrapper {min-width:1600px; width:100%; min-height:100%; position:relative; overflow:hidden}
.wrapper-inner {padding:0 0 652px 0}

header {padding:0 0 40px 0}

.header-phone {float:left; font-size:15px; font-weight:bold; padding:62px 0 0 0}
.header-phone a {color:#000; text-decoration:none}

.header-lang {float:right; font-size:14px; text-transform:uppercase; padding:62px 0 0 0}
.header-lang ul {margin:0; padding:0; list-style:none}
.header-lang ul li {float:left; margin:0 0 0 25px; padding:0}
.header-lang ul li:first-child {margin:0}
.header-lang ul li a {color:#000; text-decoration:none}
.header-lang ul li a:hover {color:#57aca4; text-decoration:underline}

.logo-wrap {margin:0 200px; padding:30px 0 0 0}
.logo {margin:0 auto; width:209px; height:70px; position:relative; background:url(../images/logo.png)}
.logo a {display:block; position:absolute; left:0; top:0; right:0; bottom:0}

nav {background:#81d8d0; height:75px; border-bottom:2px solid #f2f2f2; text-align:center; line-height:75px; text-transform:uppercase}
nav ul {display:inline-block; vertical-align:top; margin:0; padding:0; list-style:none}
nav ul li {float:left; margin:0 0 0 49px; padding:0}
nav ul li:first-child {margin:0}
nav ul li a {color:#000; text-decoration:none}
nav ul li a:hover {text-decoration:underline}

.main-sections {padding:70px 0 0 0}
.main-sections-inner {margin:0 -10px}
.main-sections:after {content:""; display:block; clear:both; height:0}
.main-section {float:left; width:50%; padding:20px 10px 0 10px; box-sizing:border-box}
.main-section a {text-decoration:none; color:#000; display:block; height:261px; box-sizing:border-box; position:relative}
.main-section a:hover {box-shadow:0 0 35px rgba(0, 0, 0, .3)}
.main-section a.main-section-1-block {border:1px solid #e3e3e3; background:#fdfdfd}
.main-section a.main-section-1-block:before {content:""; display:block; width:394px; height:298px; background:url(../images/main-section-1.png); position:absolute; right:-1px; bottom:0}
.main-section-1-title {font-size:35px; font-weight:normal; line-height:40px; padding:31px 320px 0 44px; position:relative}
.main-section a:hover .main-section-1-title {text-decoration:underline}
.main-section-1-text {padding:16px 320px 0 44px; position:relative}
.main-section a.main-section-2-block {background:#040404 url(../images/main-section-2.jpg) no-repeat right center; color:#fff}
.main-section-2-title {font-size:35px; line-height:40px; font-weight:normal; padding:32px 0 0 45px}
.main-section a:hover .main-section-2-title {text-decoration:underline}
.main-section-2-text {font-size:29px; line-height:36px; padding:14px 0 0 45px}
.main-section-2-link {display:inline-block; vertical-align:top; border:2px solid #81d8d0; padding:0 40px; margin:39px 0 0 45px; font-size:21px; line-height:51px; height:51px; text-decoration:none; text-transform:uppercase}
.main-section a.main-section-3-block {background:#040404 url(../images/main-section-3.jpg) no-repeat left center; color:#fff; padding:0 45px}
.main-section-3-title {font-size:35px; line-height:40px; font-weight:normal; padding:32px 0 0 0}
.main-section a:hover .main-section-3-title {text-decoration:underline}
.main-section-3-text {padding:16px 0 0 0}
.main-section a.main-section-4-block {background:#f7f7f8 url(../images/main-section-4.jpg) no-repeat right bottom; padding:0 45px}
.main-section-4-title {font-size:35px; line-height:40px; font-weight:normal; color:#81d8d0; padding:32px 0 0 0}
.main-section a:hover .main-section-4-title {text-decoration:underline}
.main-section-4-text {padding:16px 0 0 0}

.main-prefs {font-size:0; line-height:0; letter-spacing:-1px; text-align:center; padding:90px 0}
.main-prefs-inner {border:1px solid #e5e5e5; padding:30px 0}
.main-pref {display:inline-block; vertical-align:middle; padding:0 0 0 50px}
.main-pref:first-child {padding:0}
.main-pref-icon {display:inline-block; vertical-align:middle}
.main-pref-title {display:inline-block; vertical-align:middle; padding:0 0 0 20px; font-size:17px; line-height:24px; letter-spacing:0; text-align:left}

.slider {position:relative; width:100%; white-space:nowrap; overflow:hidden; font-size:0; line-height:0; letter-spacing:-1px}
.slider-item {display:inline-block; vertical-align:top; width:100%; white-space:normal; text-align:center}
.slider-item-inner {height:600px; background:no-repeat center; background-size:cover}
.slider-item-title {font-size:55px; line-height:60px; letter-spacing:0; text-transform:uppercase; font-weight:100; padding:136px 0 0 0}
.slider-item-title strong {font-weight:900}
.slider-item-link {padding:114px 0 0 0}
.slider-item-link a {display:inline-block; vertical-align:top; border:2px solid #000; padding:0 45px; font-size:25px; line-height:61px; height:61px; color:#000; text-decoration:none; text-transform:uppercase; letter-spacing:0}
.slider .slick-dots {z-index:2; font-size:0; line-height:0; letter-spacing:-1px; margin:0; padding:0; list-style:none; position:absolute; bottom:50px; left:0; right:0; text-align:center}
.slider .slick-dots li {margin:0 0 0 6px; padding:0; display:inline-block; vertical-align:top}
.slider .slick-dots li:first-child {margin:0}
.slider .slick-dots li button {display:block; width:8px; height:8px; border-radius:50%; opacity:.3; border:none; background:#fff; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; font-size:0; line-height:0; text-indent:100px}
.slider .slick-dots li button:hover {background:#81d8d0; opacity:1; transform:scale(1.75)}
.slider .slick-dots li.slick-active button {opacity:1; cursor:default; transform:none; background:#fff}

.main-catalogue {padding:70px 0 0 0}
.main-catalogue:after {content:""; display:block; clear:both; height:0}
.main-catalogue-col-1 {float:left; padding:0 10px 0 0; width:43.125%; box-sizing:border-box}
.main-catalogue-col-2 {float:left; padding:0 10px; width:32.5%; box-sizing:border-box}
.main-catalogue-col-3 {float:left; padding:0 0 0 10px; width:24.375%; box-sizing:border-box}
a.main-catalogue-link-1 {display:table; margin:20px 0 0 0; width:100%; background:#080808 url(../images/main-catalogue-1.jpg) no-repeat left bottom; text-decoration:none; color:#fff; text-transform:uppercase}
.main-catalogue-link-1-text {display:table-cell; height:390px; vertical-align:middle; text-align:center; font-size:45px; line-height:50px}
a.main-catalogue-link-2 {display:table; margin:20px 0 0 0; width:100%; background:#bdbbc0 url(../images/main-catalogue-2.jpg) no-repeat right bottom; text-decoration:none; color:#000; text-transform:uppercase}
.main-catalogue-link-2-text {display:table-cell; height:390px; vertical-align:middle; text-align:center; font-size:45px; line-height:50px}
a.main-catalogue-link-3 {display:table; width:100%; background:#81d8d0; text-decoration:none; color:#000; text-transform:uppercase; position:relative}
a.main-catalogue-link-3:before {content:""; display:block; position:absolute; left:15px; top:15px; right:15px; bottom:15px; border:2px solid rgba(255, 255, 255, .25)}
.main-catalogue-link-3-text {display:table-cell; height:840px; padding:174px 0 0 0; box-sizing:border-box; vertical-align:top; text-align:center; font-size:45px; line-height:50px; font-weight:bold; position:relative}
.main-catalogue-link-3-text:before {content:""; display:block; height:800px; position:absolute; left:0; bottom:0; right:0; background:url(../images/main-catalogue-2-in.png) no-repeat center bottom}
.main-catalogue-link-3-text-inner {position:relative}
a.main-catalogue-link-4 {display:table; margin:20px 0 0 0; width:100%; background:#f7f7f7 url(../images/main-catalogue-4.jpg) no-repeat center top; text-decoration:none; color:#000; text-transform:uppercase}
.main-catalogue-link-4-text {display:table-cell; height:390px; vertical-align:top; padding:286px 0 0 0; box-sizing:border-box; text-align:center}
.main-catalogue-link-4-text-inner {display:inline-block; vertical-align:top; border:2px solid #000; padding:0 24px; line-height:40px; height:40px}
a.main-catalogue-link-5 {display:table; margin:20px 0 0 0; width:100%; background:#f1ede1 url(../images/main-catalogue-5.jpg) no-repeat left top; text-decoration:underline; color:#a77737; text-transform:uppercase}
.main-catalogue-link-5-text {display:table-cell; height:390px; vertical-align:top; padding:73px 0 0 0; box-sizing:border-box; text-align:center; font-size:35px; line-height:40px}

.main-partners {padding:77px 0 40px 0}
.main-partners-title {text-align:center; font-weight:normal; font-size:35px; line-height:40px}
.main-partners-list {white-space:nowrap; position:relative; width:100%; font-size:0; line-height:0; letter-spacing:-1px; text-align:center}
.main-partners-item {display:inline-block; vertical-align:middle; height:147px; line-height:145px}
.main-partners-item a {display:inline-block; vertical-align:middle; margin:0 19px}
.main-partners-item img {display:inline-block; vertical-align:middle; max-height:147px; opacity:.4; filter:grayscale(100%); -webkit-filter:grayscale(100%); -moz-filter:grayscale(100%); -ms-filter:grayscale(100%); -o-filter:grayscale(100%); filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)}
.main-partners-item a:hover img {opacity:1; filter:grayscale(0); -webkit-filter:grayscale(0); -moz-filter:grayscale(0); -ms-filter:grayscale(0); -o-filter:grayscale(0); filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=0)}

.main-wholesale {background:#f1ede1; padding:0 0 132px 0; text-align:center}
.main-wholesale-title {font-size:55px; line-height:60px; font-weight:100; padding:61px 0 0 0}
.main-wholesale-text {margin:21px 180px 0 180px}
.main-wholesale-list {margin:73px -10px 40px -10px}
.main-wholesale-list:after {content:""; display:block; clear:both; height:0}
.main-wholesale-item {float:left; padding:0 10px; width:33.33%; box-sizing:border-box}
.main-wholesale-item a {display:block; background:#eae6da; text-decoration:none; color:#000; position:relative}
.main-wholesale-item a:hover {box-shadow:0 0 25px rgba(0, 0, 0, .3)}
.main-wholesale-item a:hover:before {content:""; display:block; position:absolute; left:0; top:-5px; right:0; height:5px; background:#81d8d0}
.main-wholesale-item-title {font-weight:normal; font-size:30px; line-height:100px; height:100px}
.main-wholesale-item-photo {height:209px; background:no-repeat center; background-size:cover}
.main-wholesale-form {width:729px; margin:0 auto; border:1px solid #d8d5ca; border-top:none; padding:8px 0 87px 0; position:relative}
.main-wholesale-form-text {font-size:30px; line-height:36px; font-weight:100}
.main-wholesale-form-link {position:absolute; left:0; right:0; bottom:-43px}
.main-wholesale-form-link-inner {display:inline-block; padding:0 40px; background:#f1ede1}
.main-wholesale-form-link a {display:block; padding:0 70px; font-size:35px; font-weight:100; line-height:85px; height:85px; text-decoration:none; color:#000; background:#81d8d0; text-transform:uppercase}

.main-produce {background:#000 url(../images/main-produce.jpg) no-repeat center; background-size:cover; color:#fff; text-align:center}
.main-produce-title {font-size:55px; line-height:60px; font-weight:100; padding:50px 0 0 0; margin:0 0 -6px 0}
.main-produce-text {margin:27px 180px}
.main-produce-text p {margin:27px 0; padding:0}
.main-produce-prefs {border-top:1px solid rgba(251, 251, 251, .1); margin:57px 0 0 0; padding:57px 0 67px 0; font-size:0; line-height:0; letter-spacing:-1px}
.main-produce-pref {display:inline-block; vertical-align:middle; padding:0 0 0 50px}
.main-produce-pref:first-child {padding:0}
.main-produce-pref-icon {display:inline-block; vertical-align:middle}
.main-produce-pref-title {display:inline-block; vertical-align:middle; padding:0 0 0 25px; font-size:14px; line-height:18px; letter-spacing:0}

.main-studio {background:#f7f7f7}
.main-studio-inner {display:table; width:100%}
.main-studio-photo {display:table-cell; vertical-align:bottom; width:52%; line-height:0; text-align:center}
.main-studio-text {display:table-cell; vertical-align:top; width:48%; text-align:center; padding:0 85px 0 0; box-sizing:border-box}
.main-studio-title {font-size:45px; line-height:50px; padding:112px 0 0 0}
.main-studio-descr {padding:22px 0 0 0}
.main-studio-link {padding:65px 0}
.main-studio-link a {display:inline-block; vertical-align:top; border:2px solid #000; padding:0 30px; text-transform:uppercase; text-decoration:none; color:#000; font-size:25px; line-height:61px}

footer {min-width:1600px; height:628px; position:relative; margin:-632px 0 0 0; border-bottom:4px solid #81d8d0}

.bottom {background:#f5f5f5; height:561px}

.bottom-menu {padding:73px 0 0 0}
.bottom-menu:after {content:""; display:block; clear:both; height:0}
.bottom-menu a {color:#000; text-decoration:none}
.bottom-menu a:hover {color:#57aca4; text-decoration:underline}
.bottom-menu-item {float:left; box-sizing:border-box}
.bottom-menu-item-1 {width:17.57%; padding:0 50px 0 0}
.bottom-menu-item-2 {width:32.71%}
.bottom-menu-item-3 {width:20.14%; padding:0 0 0 56px}
.bottom-menu-item-5 {width:11.81%; float:right}
.bottom-menu-title {font-size:17px; font-weight:900; text-transform:uppercase}
.bottom-menu-item-2 .bottom-menu-title {position:relative}
.bottom-menu-item-2 .bottom-menu-title:before {content:""; display:block; position:absolute; left:124px; top:12px; right:0; height:1px; background:rgba(0, 0, 0, .1)}
.bottom-menu-list {font-size:17px; padding:13px 0 0 0}
.bottom-menu-list ul {margin:0; padding:0; list-style:none}
.bottom-menu-item-2 .bottom-menu-list ul {float:left}
.bottom-menu-item-2 .bottom-menu-list ul+ul {float:right; width:34.82%}
.bottom-menu-list ul li {margin:0; padding:0}

.bottom-contacts {padding:60px 0 0 0}
.bottom-contacts:after {content:""; display:block; clear:both; height:0}
.bottom-contacts-item {float:left; box-sizing:border-box}
.bottom-contacts-item-1 {width:38.89%; padding:0 52px 0 0}
.bottom-contacts-item-1 .bottom-menu-title {position:relative}
.bottom-contacts-item-1 .bottom-menu-title:before {content:""; display:block; position:absolute; left:124px; top:12px; right:0; height:1px; background:rgba(0, 0, 0, .1)}
.bottom-contacts-item-2 {width:15.28%}
.bottom-contacts-item-3 {float:right; width:295px}
.bottom-contacts-content {font-size:15px; line-height:23px}
.bottom-contacts-item-1 .bottom-contacts-content {float:left; width:49.80%; padding:0 50px 0 0; box-sizing:border-box}
.bottom-contacts-item-1 .bottom-contacts-content+.bottom-contacts-content {float:left; width:50.20%}
.bottom-contacts-address {font-weight:normal; padding:16px 0 0 0}
.bottom-contacts-phones {padding:12px 0 0 0}
.bottom-contacts-phones a {color:#000; text-decoration:none}
.bottom-contacts-email a {text-decoration:none}
.bottom-contacts-email a:hover {text-decoration:underline}

.bottom-search {padding:1px 0 0 0}
.bottom-search form {margin:0; padding:0}
.bottom-search-input input {border:none; font:300 15px/32px Roboto, sans-serif; color:#000; vertical-align:top; margin:0; padding:0 14px; width:100%; height:32px; box-sizing:border-box; outline:none; border-radius:0; background:#fff; -webkit-appearance:none}
.bottom-search-input input::-webkit-input-placeholder {opacity:1; color:rgba(0, 0, 0, .4)}
.bottom-search-input input::-moz-placeholder {opacity:1; color:rgba(0, 0, 0, .4)}
.bottom-search-input input:-ms-input-placeholder {opacity:1; color:rgba(0, 0, 0, .4)}

.bottom-social {text-align:right; font-size:0; line-height:0; letter-spacing:-1px; padding:20px 0 0 0}
.bottom-social a {display:inline-block; vertical-align:top; width:20px; height:16px; background:url(../images/bottom-social.png); margin:0 0 0 7px}
.bottom-social a:first-child {margin:0}
.bottom-social a.bottom-social-1 {background-position:left top}
.bottom-social a.bottom-social-1:hover {background-position:left -16px}
.bottom-social a.bottom-social-2 {background-position:-20px top}
.bottom-social a.bottom-social-2:hover {background-position:-20px -16px}
.bottom-social a.bottom-social-3 {background-position:-40px top}
.bottom-social a.bottom-social-3:hover {background-position:-40px -16px}
.bottom-social a.bottom-social-4 {background-position:-60px top}
.bottom-social a.bottom-social-4:hover {background-position:-60px -16px}

.copyrights {background:#000; color:#fff; font-size:13px; line-height:67px; height:67px; position:relative}