* {outline:none}

html {min-width:1200px; height:100%}

body {min-width:1200px; height:100%; margin:0; padding:0; font:300 16px/23px Roboto, sans-serif; color:#000; background:#fff; -webkit-text-size-adjust:100%}

a {color:#000; transition:color .3s}
a:hover {color:#57aca4}

img {border:none; max-width:100%}

strong, b {font-weight:500}

::-ms-clear {display:none}

h1 {text-align:center; font-weight:100; font-size:55px; line-height:60px; margin:51px 0 53px 0; padding:0}
h2 {font-weight:100; font-size:45px; line-height:50px; margin:37px 0 32px 0; padding:0}
h3 {font-weight:100; font-size:35px; line-height:40px; margin:41px 0 28px 0; padding:0}
h4 {font-weight:100; font-size:30px; line-height:35px; margin:41px 0 28px 0; padding:0}
p {margin:23px 0; padding:0}
blockquote {font-style:italic; margin:26px 0; padding:0 200px 0 100px; position:relative}
blockquote:before {content:"“"; position:absolute; left:37px; top:-9px; font-weight:900; font-size:100px; line-height:100px; color:#81d8d0}
blockquote:after {content:"”"; position:absolute; right:140px; top:-9px; font-weight:900; font-size:100px; line-height:100px; color:#81d8d0}
ul {margin:23px 0 23px 30px; padding:0; list-style:none}
ul li {margin:12px 0; padding:0 0 0 23px; position:relative}
ul li:before {content:""; display:block; width:6px; height:6px; border:1px solid #949494; background:#949494; border-radius:50%; position:absolute; left:0; top:8px}
li ul {margin:12px 0}
li ul li {padding:0 0 0 36px}
li ul li:before {background:transparent; left:13px}
ol {margin:23px 0; padding:0; list-style:none; counter-reset:point}
ol li {margin:12px 0; padding:0 0 0 23px; position:relative}
li ol {margin:12px 0; counter-reset:subpoint}
li ol {margin-left:15px}
ol li:before {content:counter(point)'.'; counter-increment:point 1; position:absolute; left:0; top:0}
ol li ol li {padding:0 0 0 29px}
ol li ol li:before {content:counter(point)'.'counter(subpoint)'.'; counter-increment:subpoint 1}
.wrapper table {width:90%; margin:40px 0 0 0; border-collapse:collapse; border-bottom:1px solid #d9d9d9}
.wrapper table caption {font-size:25px; line-height:30px; font-weight:300; padding:9px 0 24px 0; text-align:left}
.wrapper th {vertical-align:top; text-align:left; border-top:4px solid #81d8d0; border-bottom:1px solid #81d8d0; font-weight:500; font-size:17px; line-height:27px; padding:22px 0 24px 30px; color:#000}
.wrapper th:last-child {padding-right:30px}
.wrapper td {vertical-align:top; text-align:left; border-top:1px solid #d9d9d9; padding:22px 0 24px 30px}
.wrapper td:last-child {padding-right:30px}
.wrapper tbody tr:hover td {background:#f7f7f7; border-color:#f7f7f7}
.wrapper tbody tr:hover+tr td {border-color:#f7f7f7}

.cols {margin:23px -15px}
.cols:after {content:""; display:block; clear:both; height:0}
.col-half {float:left; width:50%; padding:0 15px; box-sizing:border-box}
.cols p:first-child {margin-top:0}
.cols p:last-child {margin-bottom:0}

form {margin:23px 0; padding:0}

.form-success {margin:31px 0; font-size:17px; font-style:italic}
.form-success-title {color:#57aca4; font-style:normal; font-size:30px; line-height:30px; text-transform:uppercase; padding:0 0 11px 0}

.form-error {margin:31px 0; font-size:17px; font-style:italic}
.form-error-title {color:#be0000; font-style:normal; font-size:30px; line-height:30px; text-transform:uppercase; padding:0 0 11px 0}

.form-row {margin:23px 0}
.form-row:after {content:""; display:block; clear:both; height:0}

.form-label {font-size:17px; padding:0 0 5px 0}

.form-input {border:1px solid #ccc; position:relative}
.form-input.error {border-color:#ebb2b2}
.form-input input,
.form-input textarea {position:relative; border:1px solid #fff; font:300 17px/24px Roboto, sans-serif; color:#000; vertical-align:top; margin:0; padding:6px 16px; width:100%; height:38px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; outline:none; border-radius:0; background:url(../images/blank.gif); -webkit-appearance:none}
.form-input textarea {height:auto; resize:none; overflow:auto}
.form-input input.error,
.form-input textarea.error {border-color:#ebb2b2}
.form-input input:focus,
.form-input textarea:focus {border-color:#b7b7b7}
.form-input label.error {position:absolute; right:-11px; top:9px; white-space:nowrap; font-size:13px; line-height:36px; height:36px; color:#fff; background:#be0000; padding:0 26px 0 15px}
.form-input label.error:after {content:""; display:block; position:absolute; left:-18px; top:0; width:0; height:0; border-right:18px solid #be0000; border-top:18px solid transparent; border-bottom:18px solid transparent}

.form-select select {position:relative; border:1px solid #fff; font:300 17px/24px Roboto, sans-serif; color:#000; vertical-align:top; margin:0; padding:6px 16px; width:100%; height:38px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; outline:none; border-radius:0; background:url(../images/blank.gif); -webkit-appearance:none}
.form-select label.error {display:none !important}

.form-checkbox {display:inline-block; vertical-align:top; margin:8px 15px 0 0}
.form-checkbox label {float:left; margin:0; cursor:pointer; position:relative; padding:0 0 0 30px; display:block; font-weight:normal}
.form-checkbox input {display:none}
.form-checkbox-icon {display:block; position:absolute; left:0; top:2px; width:18px; height:18px; border:1px solid #f2f2f2; background:#f2f2f2 url(../images/checkbox.png) no-repeat -999px -999px}
.form-checkbox label input:checked+.form-checkbox-icon,
.form-checkbox label input:checked+label+.form-checkbox-icon {background-position:center}
.form-checkbox label input.error+.form-checkbox-icon,
.form-checkbox label input.error+label+.form-checkbox-icon {border-color:#ebb2b2}
.form-checkbox label.error {display:none !important}

.form-radio {display:inline-block; vertical-align:top; margin:8px 15px 0 0}
.form-radio label {float:left; margin:0; cursor:pointer; position:relative; padding:0 0 0 30px; display:block; font-weight:normal}
.form-radio input {display:none}
.form-radio-icon {display:block; position:absolute; left:0; top:2px; width:18px; height:18px; border:1px solid #e6e6e6; border-radius:50%}
.form-radio label input:checked+.form-radio-icon:after,
.form-radio label input:checked+label+.form-radio-icon:after {content:""; display:block; width:10px; height:10px; position:absolute; left:4px; top:4px; border-radius:50%; background:#000}
.form-radio label.error {display:none !important}

.form-file:after {content:""; display:block; clear:both}
.form-file-input {float:left; width:145px; height:23px; background:url(../images/blank.gif); position:relative; overflow:hidden; line-height:23px; cursor:pointer; color:#57aca4}
.form-file-input-text {border-bottom:1px dashed #57aca4}
.form-file-input:hover .form-file-input-text {border-bottom:none}
.form-file-input input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(../images/blank.gif); -webkit-appearance:none}
.error .form-file-input {color:#ebb2b2}
.form-file-input label.error {display:none !important}
.form-file-name {margin:0 0 0 170px; padding:0; font-size:13px}
.form-file-progress-wrap {margin:0 0 0 170px; height:3px; background:#e5e5e5; position:relative; top:11px}
.form-file-progress {width:0; height:3px; position:relative; background:#81d8d0}
.form-file-progress.error {background:#ebb2b2}

.form-submit {float:left; padding:17px 0 0 0}
.form-submit input {display:inline-block; border-radius:0; background:#81d8d0; margin:0; padding:0 25px; overflow:visibile; outline:none; border:none; height:45px; box-sizing:border-box; color:#000; text-align:center; text-transform:uppercase; font:18px/45px Roboto, sans-serif; -webkit-appearance:none; cursor:pointer}
.form-submit input:hover {background:#57aca4}
.form-submit input:active {background:#000; color:#fff}

.form-reset {float:left; padding:28px 0 0 30px; font-size:14px; text-transform:uppercase}
.form-reset a {color:#000; text-decoration:none; border-bottom:1px dashed #000}
.form-reset a:hover {border-bottom:none}

.file-link {display:inline-block; vertical-align:top; margin:8px 25px 8px 0; font-style:italic; color:#404040; font-size:13px}
.file-link a {font-size:15px; font-style:normal; color:#57aca4}
.file-link a:hover {color:#000}
.file-link img {vertical-align:middle; margin:-2px 7px 0 7px}

.content-img-with-text {margin:33px 0}
.content-img-with-text:after {content:""; display:block; clear:both; height:0}
.content-img-with-text img {float:left; width:52%; margin:6px 0 0 0}
.content-img-with-text-descr {margin:0 0 0 52%; padding:0 0 0 40px; width:32%; box-sizing:border-box; font-style:italic; font-size:15px; line-height:20px; color:#404040}

.gallery {margin:33px 0}
.gallery:after {content:""; display:block; clear:both; height:0}
.gallery-list {float:left; width:74%; line-height:0; font-size:0; letter-spacing:-1px; position:relative; overflow:hidden; white-space:nowrap}
.gallery-item {display:inline-block; vertical-align:top; position:relative; width:100%}
.gallery-item:after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; border:1px solid rgba(0, 0, 0, .1)}
.gallery-item img {display:block; width:100%}
.gallery-hint {float:left; width:26%; padding:0 0 0 40px; margin:-6px 0 0 0; box-sizing:border-box; font-style:italic; font-size:15px; line-height:20px; color:#404040}
.gallery .slick-prev,
.gallery .slick-next {display:block; position:absolute; z-index:2; top:50%; width:40px; height:40px; border:none; border-radius:50%; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; background:transparent; transition:background .3s}
.gallery .slick-prev {left:24px}
.gallery .slick-prev:hover {background:#fff}
.gallery .slick-next {right:24px}
.gallery .slick-next:hover {background:#fff}
.gallery .slick-prev:after,
.gallery .slick-next:after {content:""; display:block; position:absolute; left:50%; top:50%; width:9px; height:15px; margin:-8px 0 0 -5px; background:url(../images/gallery-arrows.png)}
.gallery .slick-prev:hover:after {background-position:left -15px}
.gallery .slick-next:after {background-position:-9px top}
.gallery .slick-next:hover:after {background-position:-9px -15px}

.container {padding:0 80px}
.container:after {content:""; display:block; clear:both; height:0}

@media screen and (max-width:1599px) {
    .container {padding:0 50px}
}

.wrapper {min-width:1200px; width:100%; min-height:100%; position:relative; overflow:hidden}
.wrapper-inner {padding:0 0 652px 0}

header {padding:0 0 40px 0; background:#fff}

.header-phone {float:left; font-size:15px; line-height:27px; font-weight:bold; padding:62px 0 0 0}
.header-phone a {color:#000; text-decoration:none}

.header-lang {float:right; font-size:14px; line-height:27px; text-transform:uppercase; padding:62px 0 0 0}
.header-lang ul {margin:0; padding:0; list-style:none}
.header-lang ul li {float:left; margin:0 0 0 25px; padding:0}
.header-lang ul li:before {display:none}
.header-lang ul li:first-child {margin:0}
.header-lang ul li a {color:#000; text-decoration:none; transition:all .3s}
.header-lang ul li a:hover {color:#57aca4; text-decoration:underline}

.logo-wrap {margin:0 200px; padding:30px 0 0 0}
.logo {margin:0 auto; width:209px; height:70px; position:relative; background:url(../images/logo.png)}
.logo a {display:block; position:absolute; left:0; top:0; right:0; bottom:0}

nav {background:#81d8d0; height:48px; text-align:center; font-size:19px; line-height:48px; text-transform:uppercase; padding:14px 0 13px 0}
nav ul {display:inline-block; vertical-align:top; margin:0; padding:0; list-style:none}
nav ul li {float:left; margin:0; padding:0}
nav ul li:before {display:none}
nav ul li a {color:#000; text-decoration:none; padding:0 25px; float:left; transition:all .3s}
nav ul li a:hover {color:#000; background:#fff}

.main-sections {border-top:2px solid #f2f2f2; background:#fff; padding:70px 0 0 0; font-size:19px; line-height:27px}
.main-sections-inner {margin:0 -10px}
.main-sections:after {content:""; display:block; clear:both; height:0}
.main-section {float:left; width:50%; padding:20px 10px 0 10px; box-sizing:border-box}
.main-section a {text-decoration:none; color:#000; display:block; height:261px; box-sizing:border-box; position:relative; transition:all .3s}
.main-section a:hover {box-shadow:0 0 35px rgba(0, 0, 0, .3)}
.main-section a.main-section-1-block {border:1px solid #e3e3e3; background:#fdfdfd}
.main-section a.main-section-1-block:before {content:""; display:block; width:394px; height:298px; background:url(../images/main-section-1.png); position:absolute; right:-1px; bottom:0}
.main-section-1-title {font-size:35px; font-weight:normal; line-height:40px; padding:31px 320px 0 44px; position:relative}
.main-section a:hover .main-section-1-title {text-decoration:underline}
.main-section-1-text {padding:16px 320px 0 44px; position:relative}
.main-section a.main-section-2-block {background:#040404 url(../images/main-section-2.jpg) no-repeat right center; color:#fff}
.main-section-2-title {font-size:35px; line-height:40px; font-weight:normal; padding:32px 0 0 45px}
.main-section a:hover .main-section-2-title {text-decoration:underline}
.main-section-2-text {font-size:29px; line-height:36px; padding:14px 0 0 45px}
.main-section-2-link {display:inline-block; vertical-align:top; border:2px solid #81d8d0; padding:0 40px; margin:39px 0 0 45px; font-size:21px; line-height:51px; height:51px; text-decoration:none; text-transform:uppercase}
.main-section a.main-section-3-block {background:#040404 url(../images/main-section-3.jpg) no-repeat left center; color:#fff; padding:0 45px}
.main-section-3-title {font-size:35px; line-height:40px; font-weight:normal; padding:32px 0 0 0}
.main-section a:hover .main-section-3-title {text-decoration:underline}
.main-section-3-text {padding:16px 0 0 0}
.main-section a.main-section-4-block {background:#f7f7f8 url(../images/main-section-4.jpg) no-repeat right bottom; padding:0 45px}
.main-section-4-title {font-size:35px; line-height:40px; font-weight:normal; color:#81d8d0; padding:32px 0 0 0}
.main-section a:hover .main-section-4-title {text-decoration:underline}
.main-section-4-text {padding:16px 0 0 0}

@media screen and (max-width:1599px) {
    .main-section-1-title {padding-right:150px}
    .main-section-1-text {padding-right:150px}
    .main-section a.main-section-4-block {background-position:left bottom}
}

.main-prefs {font-size:0; line-height:0; letter-spacing:-1px; text-align:center; background:#fff; padding:90px 0}
.main-prefs-inner {border:1px solid #e5e5e5; padding:30px 0}
.main-pref {display:inline-block; vertical-align:middle; padding:0 0 0 40px}
.main-pref:first-child {padding:0}
.main-pref-icon {display:inline-block; vertical-align:middle}
.main-pref-title {display:inline-block; vertical-align:middle; padding:0 0 0 20px; max-width:160px; font-size:17px; line-height:24px; letter-spacing:0; text-align:left}

@media screen and (max-width:1599px) {
    .main-pref {padding:0 0 0 25px}
    .main-pref:first-child {padding:0}
    .main-pref-title {max-width:110px}
}

.slider {position:relative; width:100%; white-space:nowrap; overflow:hidden; font-size:0; line-height:0; letter-spacing:-1px}
.slider-item {display:inline-block; vertical-align:top; width:100%; white-space:normal; text-align:center}
.slider-item-inner {height:600px; background:no-repeat center; background-size:cover}
.slider-inner .slider-item-inner {height:470px}
.slider-item-title {font-size:55px; line-height:60px; letter-spacing:0; text-transform:uppercase; font-weight:100; padding:136px 0 0 0}
.slider-inner .slider-item-title {padding:106px 0 0 0}
.slider-item-title strong {font-weight:900}
.slider-item-link {padding:114px 0 0 0}
.slider-inner .slider-item-link {padding:54px 0 0 0}
.slider-item-link a {display:inline-block; vertical-align:top; border:2px solid #000; padding:0 45px; font-size:25px; line-height:61px; height:61px; color:#000; text-decoration:none; text-transform:uppercase; letter-spacing:0; transition:all .3s}
.slider-item-link a:hover {color:#fff; background:#000}
.slider .slick-dots {z-index:2; font-size:0; line-height:0; letter-spacing:-1px; margin:0; padding:0; list-style:none; position:absolute; bottom:50px; left:0; right:0; text-align:center}
.slider .slick-dots li {margin:0 0 0 6px; padding:0; display:inline-block; vertical-align:top}
.slider .slick-dots li:first-child {margin:0}
.slider .slick-dots li:before {display:none}
.slider .slick-dots li button {display:block; width:8px; height:8px; border-radius:50%; opacity:.3; border:none; background:#fff; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; font-size:0; line-height:0; text-indent:100px; transition:all .3s}
.slider .slick-dots li button:hover {background:#81d8d0; opacity:1; transform:scale(1.75)}
.slider .slick-dots li.slick-active button {opacity:1; cursor:default; transform:none; background:#fff}

.main-catalogue {padding:70px 0 0 0; background:#fff}
.main-catalogue:after {content:""; display:block; clear:both; height:0}
.main-catalogue-col-1 {float:left; padding:0 10px 0 0; width:43.125%; box-sizing:border-box}
.main-catalogue-col-2 {float:left; padding:0 10px; width:32.5%; box-sizing:border-box}
.main-catalogue-col-3 {float:left; padding:0 0 0 10px; width:24.375%; box-sizing:border-box}
.main-catalogue-link-bg {position:absolute; left:0; top:0; right:0; bottom:0; transition:all .3s ease}
.main-catalogue a:hover .main-catalogue-link-bg {transform:scale(1.1)}

a.main-catalogue-link-1 {display:block; position:relative; overflow:hidden; margin:20px 0 0 0; width:100%; text-decoration:none; color:#fff; text-transform:uppercase}
.main-catalogue-link-1-bg {background:url(../images/main-catalogue-1.jpg) no-repeat center; background-size:cover}
.main-catalogue-link-1-text-wrap {display:table; position:relative; width:100%}
.main-catalogue-link-1-text {display:table-cell; height:390px; vertical-align:middle; text-align:center; font-size:45px; line-height:50px; position:relative}
.main-catalogue a:hover .main-catalogue-link-1-text:after {content:""; display:block; position:absolute; left:15px; top:15px; right:15px; bottom:15px; border:2px solid rgba(255, 255, 255, .25)}

@media screen and (max-width:1599px) {
    .main-catalogue-link-1-text {height:350px; font-size:35px; line-height:40px}
}

a.main-catalogue-link-2 {display:block; position:relative; overflow:hidden; margin:20px 0 0 0; width:100%; text-decoration:none; color:#000; text-transform:uppercase}
.main-catalogue-link-2-bg {background:url(../images/main-catalogue-2.jpg) no-repeat center; background-size:cover}
.main-catalogue-link-2-text-wrap {display:table; position:relative; width:100%}
.main-catalogue-link-2-text {display:table-cell; height:390px; vertical-align:middle; text-align:center; font-size:45px; line-height:50px; position:relative}
.main-catalogue a:hover .main-catalogue-link-2-text:after {content:""; display:block; position:absolute; left:15px; top:15px; right:15px; bottom:15px; border:2px solid rgba(255, 255, 255, .25)}

@media screen and (max-width:1599px) {
    .main-catalogue-link-2-text {height:350px; font-size:35px; line-height:40px}
}

a.main-catalogue-link-3 {display:block; position:relative; overflow:hidden; width:100%; text-decoration:none; color:#000; text-transform:uppercase}
.main-catalogue-link-3-bg {background:url(../images/main-catalogue-3.jpg) no-repeat center bottom; background-size:cover}
.main-catalogue-link-3-text-wrap {display:table; position:relative; width:100%}
.main-catalogue-link-3-text {display:table-cell; height:840px; padding:174px 0 0 0; box-sizing:border-box; vertical-align:top; text-align:center; font-size:45px; line-height:50px; font-weight:bold; position:relative}
.main-catalogue a:hover .main-catalogue-link-3-text:after {content:""; display:block; position:absolute; left:15px; top:15px; right:15px; bottom:15px; border:2px solid rgba(255, 255, 255, .25)}

@media screen and (max-width:1599px) {
    .main-catalogue-link-3-text {height:760px; font-size:35px; line-height:40px; padding-top:164px}
}

a.main-catalogue-link-4 {display:block; position:relative; overflow:hidden; margin:20px 0 0 0; width:100%; text-decoration:none; color:#000; text-transform:uppercase}
.main-catalogue-link-4-bg {background:url(../images/main-catalogue-4.jpg) no-repeat center; background-size:cover}
.main-catalogue-link-4-text-wrap {display:table; position:relative; width:100%}
.main-catalogue-link-4-text {display:table-cell; height:390px; vertical-align:top; padding:286px 0 0 0; box-sizing:border-box; text-align:center; position:relative}
.main-catalogue-link-4-text-inner {display:inline-block; vertical-align:top; border:2px solid #000; padding:0 24px; font-size:19px; line-height:40px; height:40px}
.main-catalogue a:hover .main-catalogue-link-4-text:after {content:""; display:block; position:absolute; left:15px; top:15px; right:15px; bottom:15px; border:2px solid rgba(255, 255, 255, .25)}

@media screen and (max-width:1599px) {
    .main-catalogue-link-4-text {height:350px; padding-top:266px}
}

a.main-catalogue-link-5 {display:block; position:relative; overflow:hidden; margin:20px 0 0 0; width:100%; text-decoration:underline; color:#a77737; text-transform:uppercase}
.main-catalogue-link-5-bg {background:url(../images/main-catalogue-5.jpg) no-repeat center; background-size:cover}
.main-catalogue-link-5-text-wrap {display:table; position:relative; width:100%}
.main-catalogue-link-5-text {display:table-cell; height:390px; vertical-align:top; padding:73px 0 0 0; box-sizing:border-box; text-align:center; font-size:35px; line-height:40px; position:relative}
.main-catalogue a:hover .main-catalogue-link-5-text:after {content:""; display:block; position:absolute; left:15px; top:15px; right:15px; bottom:15px; border:2px solid rgba(255, 255, 255, .25)}

@media screen and (max-width:1599px) {
    .main-catalogue-link-5-text {height:350px; padding-top:63px}
}

.main-partners {padding:77px 0 40px 0; background:#fff}
.main-partners-title {text-align:center; font-weight:normal; font-size:35px; line-height:40px}
.main-partners-list {white-space:nowrap; position:relative; width:100%; font-size:0; line-height:0; letter-spacing:-1px; text-align:center}
.main-partners-item {display:inline-block; vertical-align:middle; height:147px; line-height:145px}
.main-partners-item a {display:inline-block; vertical-align:middle; margin:0 19px}
.main-partners-item img {display:inline-block; vertical-align:middle; max-height:147px; opacity:.4; filter:grayscale(100%); -webkit-filter:grayscale(100%); -moz-filter:grayscale(100%); -ms-filter:grayscale(100%); -o-filter:grayscale(100%); filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); transition:all .3s}
.main-partners-item a:hover img {opacity:1; filter:grayscale(0); -webkit-filter:grayscale(0); -moz-filter:grayscale(0); -ms-filter:grayscale(0); -o-filter:grayscale(0); filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=0)}

.main-wholesale {background:#f1ede1; padding:0 0 132px 0; text-align:center}
.main-wholesale-title {font-size:55px; line-height:60px; font-weight:100; padding:61px 0 0 0}
.main-wholesale-text {margin:21px 180px 0 180px; font-size:19px; line-height:27px}
.main-wholesale-list {margin:73px -10px 40px -10px}
.main-wholesale-list:after {content:""; display:block; clear:both; height:0}
.main-wholesale-item {float:left; padding:0 10px; width:33.33%; box-sizing:border-box}
.main-wholesale-item a {display:block; background:#eae6da; text-decoration:none; color:#000; position:relative; transition:all .3s}
.main-wholesale-item a:hover {box-shadow:0 0 25px rgba(0, 0, 0, .3)}
.main-wholesale-item a:hover:before {content:""; display:block; position:absolute; left:0; top:-5px; right:0; height:5px; background:#81d8d0}
.main-wholesale-item-title {font-weight:normal; font-size:30px; line-height:100px; height:100px}
.main-wholesale-item-photo {height:209px; background:no-repeat center; background-size:cover}
.main-wholesale-form {width:729px; margin:0 auto; border:1px solid #d8d5ca; border-top:none; padding:8px 0 87px 0; position:relative}
.main-wholesale-form-text {font-size:30px; line-height:36px; font-weight:100}
.main-wholesale-form-link {position:absolute; left:0; right:0; bottom:-43px}
.main-wholesale-form-link-inner {display:inline-block; padding:0 40px; background:#f1ede1}
.main-wholesale-form-link a {display:block; padding:0 70px; font-size:35px; font-weight:100; line-height:85px; height:85px; text-decoration:none; color:#000; background:#81d8d0; text-transform:uppercase; transition:all .3s}
.main-wholesale-form-link a:hover {color:#fff; background:#000}

@media screen and (max-width:1599px) {
    .main-wholesale-text {margin-left:40px; margin-right:40px}
    .main-wholesale-item-title {line-height:90px; height:90px}
    .main-wholesale-item-photo {height:171px}
}

.main-produce {background:#000 url(../images/main-produce.jpg) no-repeat center; background-size:cover; color:#fff; text-align:center}
.main-produce-title {font-size:55px; line-height:60px; font-weight:100; padding:50px 0 0 0; margin:0 0 -6px 0}
.main-produce-text {margin:27px 180px; font-size:19px; line-height:27px}
.main-produce-text p {margin:27px 0; padding:0}
.main-produce-text ul {display:inline-block; vertical-align:top; margin:0; padding:0; list-style:none}
.main-produce-text ul li {margin:0; padding:0 0 0 22px; text-align:left; position:relative}
.main-produce-text ul li+li {margin:27px 0 0 0}
.main-produce-text ul li:before {content:""; display:block; width:8px; height:8px; background:#fff; border-radius:50%; position:absolute; left:0; top:11px}
.main-produce-prefs {border-top:1px solid rgba(251, 251, 251, .1); margin:57px 0 0 0; padding:57px 0 67px 0; font-size:0; line-height:0; letter-spacing:-1px}
.main-produce-pref {display:inline-block; vertical-align:middle; padding:0 0 0 50px}
.main-produce-pref:first-child {padding:0}
.main-produce-pref-icon {display:inline-block; vertical-align:middle}
.main-produce-pref-title {display:inline-block; vertical-align:middle; padding:0 0 0 25px; font-size:14px; line-height:18px; letter-spacing:0}

@media screen and (max-width:1599px) {
    .main-produce-text {margin-left:40px; margin-right:40px}
    .main-produce-prefs {margin-left:-50px; margin-right:-50px; padding-left:50px; padding-right:50px}
    .main-produce-pref-icon {display:block}
    .main-produce-pref-title {display:block; padding:15px 0 0 0}
}

.main-studio {background:#eef1f5}
.main-studio-inner {display:table; width:100%}
.main-studio-photo {display:table-cell; vertical-align:middle; width:52%; line-height:0; text-align:center}
.main-studio-text {display:table-cell; vertical-align:middle; width:48%; text-align:center; padding:62px 85px 62px 0; box-sizing:border-box}
.main-studio-title {font-size:45px; line-height:50px}
.main-studio-descr {margin:25px 0; font-size:17px; line-height:25px}
.main-studio-descr p {margin:25px 0; padding:0}

@media screen and (max-width:1599px) {
    .main-studio-text {padding-right:40px}
}

footer {min-width:1200px; height:628px; font-size:19px; line-height:27px; position:relative; margin:-652px 0 0 0; border-top:20px solid #fff; border-bottom:4px solid #81d8d0}

.bottom {background:#f5f5f5; height:561px}

.bottom-menu {padding:73px 0 0 0}
.bottom-menu:after {content:""; display:block; clear:both; height:0}
.bottom-menu a {color:#000; text-decoration:none; transition:all .3s}
.bottom-menu a:hover {color:#57aca4; text-decoration:underline}
.bottom-menu-item {float:left; box-sizing:border-box}
.bottom-menu-item-1 {width:17.57%; padding:0 50px 0 0}
.bottom-menu-item-2 {width:32.71%}
.bottom-menu-item-3 {width:20.14%; padding:0 0 0 56px}
.bottom-menu-item-5 {width:11.81%; float:right}
.bottom-menu-title {font-size:17px; font-weight:900; text-transform:uppercase}
.bottom-menu-item-2 .bottom-menu-title {position:relative}
.bottom-menu-item-2 .bottom-menu-title:before {content:""; display:block; position:absolute; left:124px; top:12px; right:0; height:1px; background:rgba(0, 0, 0, .1)}
.bottom-menu-list {font-size:17px; padding:13px 0 0 0}
.bottom-menu-list ul {margin:0; padding:0; list-style:none}
.bottom-menu-item-2 .bottom-menu-list ul {float:left}
.bottom-menu-item-2 .bottom-menu-list ul+ul {float:right; width:34.82%}
.bottom-menu-list ul li {margin:0; padding:0}
.bottom-menu-list ul li:before {display:none}

@media screen and (max-width:1599px) {
    .bottom-menu-item-1 {width:17.97%}
    .bottom-menu-item-2 {width:33.73%}
    .bottom-menu-item-3 {width:20.59%; padding:0 0 0 48px}
    .bottom-menu-item-5 {width:12.71%}
}

.bottom-contacts {padding:60px 0 0 0}
.bottom-contacts:after {content:""; display:block; clear:both; height:0}
.bottom-contacts-item {float:left; box-sizing:border-box}
.bottom-contacts-item-1 {width:38.89%; padding:0 52px 0 0}
.bottom-contacts-item-1 .bottom-menu-title {position:relative}
.bottom-contacts-item-1 .bottom-menu-title:before {content:""; display:block; position:absolute; left:124px; top:12px; right:0; height:1px; background:rgba(0, 0, 0, .1)}
.bottom-contacts-item-2 {width:15.28%}
.bottom-contacts-item-3 {float:right; width:295px}
.bottom-contacts-content {font-size:15px; line-height:23px}
.bottom-contacts-item-1 .bottom-contacts-content {float:left; width:49.80%; padding:0 50px 0 0; box-sizing:border-box}
.bottom-contacts-item-1 .bottom-contacts-content+.bottom-contacts-content {float:left; width:50.20%}
.bottom-contacts-address {font-weight:normal; padding:16px 0 0 0}
.bottom-contacts-phones {padding:12px 0 0 0}
.bottom-contacts-phones a {color:#000; text-decoration:none}
.bottom-contacts-email a {text-decoration:none; color:#666}
.bottom-contacts-email a:hover {text-decoration:underline}

@media screen and (max-width:1599px) {
    .bottom-contacts-item-1 {width:54%}
    .bottom-contacts-item-2 {width:17%}
}

.bottom-search {padding:1px 0 0 0}
.bottom-search form {margin:0; padding:0}
.bottom-search-input input {border:none; font:300 15px/32px Roboto, sans-serif; color:#000; vertical-align:top; margin:0; padding:0 14px; width:100%; height:32px; box-sizing:border-box; outline:none; border-radius:0; background:#fff; -webkit-appearance:none}
.bottom-search-input input::-webkit-input-placeholder {opacity:1; color:rgba(0, 0, 0, .4)}
.bottom-search-input input::-moz-placeholder {opacity:1; color:rgba(0, 0, 0, .4)}
.bottom-search-input input:-ms-input-placeholder {opacity:1; color:rgba(0, 0, 0, .4)}

.bottom-social {text-align:right; font-size:0; line-height:0; letter-spacing:-1px; padding:20px 0 0 0}
.bottom-social a {display:inline-block; vertical-align:top; width:20px; height:16px; background:url(../images/bottom-social.png); margin:0 0 0 7px}
.bottom-social a:first-child {margin:0}
.bottom-social a.bottom-social-1 {background-position:left top}
.bottom-social a.bottom-social-1:hover {background-position:left -16px}
.bottom-social a.bottom-social-2 {background-position:-20px top}
.bottom-social a.bottom-social-2:hover {background-position:-20px -16px}
.bottom-social a.bottom-social-3 {background-position:-40px top}
.bottom-social a.bottom-social-3:hover {background-position:-40px -16px}
.bottom-social a.bottom-social-4 {background-position:-60px top}
.bottom-social a.bottom-social-4:hover {background-position:-60px -16px}

.copyrights {background:#000; color:#fff; font-size:13px; line-height:67px; height:67px; position:relative}
.copyrights-text {float:left}

a.developer {float:right; color:#fff; text-decoration:none}
a.developer img {vertical-align:middle}